<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="home">Aniacso</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-collapse-init
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars text-light"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" aria-current="page" href="#!">
            <div>
              <i class="fas fa-home fa-lg mb-1"></i>
            </div>
            Home
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" href="#!">
            <div>
              <i class="fa-regular fa-user fa-lg mb-1"></i>
            </div>
            Miembros
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" aria-disabled="true" href="#!">
            <div>
              <i class="fa-regular fa-building fa-lg mb-1"></i>
            </div>
            Sedes
          </a>
        </li>
        <li class="nav-item dropdown text-center mx-2 mx---lg-1">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-dropdown-init
            aria-expanded="false"
          >
            <div>
              <i class="fa-regular fa-circle-question fa-lg mb-1"></i>
            </div>
            Información
          </a>
        </li>
      </ul>
      <!-- Left links -->

      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" href="#!">
            <div>
              <i class="fa-regular fa-headphones fa-lg mb-1"></i>
            </div>
            Messages
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" href="#!">
            <div>
              <i class="fa-regular fa-address-card fa-lg mb-1"></i>
            </div>
            Perfil
          </a>
        </li>
      </ul>
      <!-- Right links -->

      <!-- Search form -->
      <form class="d-flex input-group w-auto ms-lg-3 my-3 my-lg-0">
        <input
          type="search"
          class="form-control"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-primary"
          type="button"
          data-mdb-ripple-init
          data-mdb-ripple-color="dark"
        >
          Search
        </button>
      </form>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="container-fluid p-4">
  
  <div class="row">
      <div class="col-md-9 text-white p-3">
        <iframe src="https://calendar.google.com/calendar/embed?src=62f78d074a87452b6797c52d7503c17fa374d86b48b39d3fb62703d587e85593%40group.calendar.google.com&ctz=Europe%2FMadrid" style="border: 0" width="100%" height="700" frameborder="0" scrolling="no" class="inframe"></iframe>
      </div>
      <div class="col-md-3  text-white p-3">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nº</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apodo</th>
              <th scope="col">Rol</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Ivan</td>
              <td>Otto</td>
              <td>mdo</td>
              
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Manuel</td>
              <td>Thornton</td>
              <td>fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Cuesta</td>
              <td>twitter</td>
              <td>........</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Jorge</td>
              <td>........</td>
              <td>........</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td >Larry the Bird</td>
              <td>twitter</td>
              <td>........</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td >Larry the Bird</td>
              <td>twitter</td>
              <td>........</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td >Larry the Bird</td>
              <td>twitter</td>
              <td>........</td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td >Larry the Bird</td>
              <td>twitter</td>
              <td>........</td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td >Larry the Bird</td>
              <td>twitter</td>
              <td>........</td>
            </tr>

          </tbody>
        </table>

      </div>
  </div>

  
  <div class="row">
      <div class="col-9 text-white d-flex align-items-center justify-content-center p-0">
        <div class="container p-0">
          <h2 class="mb-3">Deja huella:</h2>
  
          <!-- Formulario para agregar comentarios -->
          <div class="mb-3">
              <textarea id="commentInput" class="form-control" rows="3" placeholder="Escribe tu comentario..."></textarea>
          </div>
          <button id="addCommentBtn" class="btn btn-primary">Comentar</button>
  
          <!-- Lista de comentarios -->
          <div id="commentsList" class="mt-4">
              <h4>Comentarios:</h4>
              <ul class="list-group"></ul>
          </div>
      </div>
      </div>
      <div class="col-3 text-white text-center">
        <h3>¿Que?</h3>
        <img class="cuesta" src="/images/cuesta_frente.jpg">
 </div>
  </div>
  
</div>
