<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="home">Aniacso</a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-collapse-init
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars text-light"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active" aria-current="page" href="#!">
            <div>
              <i class="fas fa-home fa-lg mb-1"></i>
            </div>
            Home
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" href="../miembros/miembros.component.html">
            <div>
              <i class="fa-regular fa-user fa-lg mb-1"></i>
            </div>
            Miembros
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" aria-disabled="true" href="#!">
            <div>
              <i class="fa-regular fa-building fa-lg mb-1"></i>
            </div>
            Sedes
          </a>
        </li>
        <li class="nav-item dropdown text-center mx-2 mx---lg-1">
          <a
            class="nav-link"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-dropdown-init
            aria-expanded="false"
          >
            <div>
              <i class="fa-regular fa-circle-question fa-lg mb-1"></i>
            </div>
            Información
          </a>
        </li>
      </ul>
      <!-- Left links -->

      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" href="#!">
            <div>
              <i class="fa-regular fa-headphones fa-lg mb-1"></i>
            </div>
            Messages
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" href="#!">
            <div>
              <i class="fa-regular fa-address-card fa-lg mb-1"></i>
            </div>
            Perfil
          </a>
        </li>
      </ul>
      <!-- Right links -->

      <!-- Search form -->
      <form class="d-flex input-group w-auto ms-lg-3 my-3 my-lg-0">
        <input
          type="search"
          class="form-control"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-primary"
          type="button"
          data-mdb-ripple-init
          data-mdb-ripple-color="dark"
        >
          Search
        </button>
      </form>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="container-fluid p-4">
  <div class="row">
    <div class="col-md-9 text-white p-3">
      <iframe
        src="https://calendar.google.com/calendar/embed?src=62f78d074a87452b6797c52d7503c17fa374d86b48b39d3fb62703d587e85593%40group.calendar.google.com&ctz=Europe%2FMadrid"
        style="border: 0"
        width="100%"
        height="700"
        frameborder="0"
        scrolling="no"
        class="inframe"
      ></iframe>
    </div>
    <div class="col-md-3 text-white p-3">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nº</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apodo</th>
            <th scope="col">Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apodo }}</td>
            <td>{{ usuario.rol }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div
      class="col text-white d-flex align-items-center justify-content-center p-0"
    >
      <div class="container mt-4">
        <div class="row">
          <div class="col-6 text-white text-center">
            <h3>¿Que?</h3>
            <img class="cuesta img-fluid" src="/images/cuesta_frente.jpg" />
          </div>
          <div class="col-6">
            <h3>Historia</h3>
            <div>
              <p>
                Palabras textuales de Cuesta: "Llevava dos dias sin dormir, y no
                se me ocurrió otra cosa que ir a sevilla con la jermu a comerme
                un kebab. No debí, no debí coger ese autobús." Claro ejemplo de
              </p>
            </div>
          </div>
        </div>

        <h2 class="d-block mt-4">Deja tu huella</h2>

        <!-- Formulario para crear un nuevo comentario -->
        <form [formGroup]="comentarioForm" (ngSubmit)="crearComentario()">
          <div class="mb-3">
            <label for="contenido" class="form-label">Nuevo Comentario:</label>
            <textarea
              id="contenido"
              formControlName="contenido"
              class="form-control"
              rows="3"
            ></textarea>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="comentarioForm.invalid"
          >
            Enviar
          </button>
        </form>

        <!-- Lista de comentarios -->
        <div class="mt-4">
          <div *ngFor="let comentario of comentarios" class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ comentario.apodo }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{ comentario.created_at | date : "dd/MM/yyy HH:mm" }}
              </h6>
              <p class="card-text">{{ comentario.contenido }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
