

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="home">Aniacso</a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-collapse-init
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars text-light"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
          <li class="nav-item text-center mx-2 mx-lg-1">
            <a class="nav-link active" aria-current="page" href="#!">
              <div>
                <i class="fas fa-home fa-lg mb-1"></i>
              </div>
              Home
            </a>
          </li>
          <li class="nav-item text-center mx-2 mx-lg-1">
            <a class="nav-link" href="../miembros/miembros.component.html">
              <div>
                <i class="fa-regular fa-user fa-lg mb-1"></i>
              </div>
              Miembros
            </a>
          </li>
          <li class="nav-item text-center mx-2 mx-lg-1">
            <a class="nav-link" aria-disabled="true" href="#!">
              <div>
                <i class="fa-regular fa-building fa-lg mb-1"></i>
              </div>
              Sedes
            </a>
          </li>
          <li class="nav-item dropdown text-center mx-2 mx---lg-1">
            <a
              class="nav-link"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-dropdown-init
              aria-expanded="false"
            >
              <div>
                <i class="fa-regular fa-circle-question fa-lg mb-1"></i>
              </div>
              Información
            </a>
          </li>
        </ul>
        <!-- Left links -->
  
        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
          <li class="nav-item text-center mx-2 mx-lg-1">
            <a class="nav-link" href="#!">
              <div>
                <i class="fa-regular fa-headphones fa-lg mb-1"></i>
              </div>
              Messages
            </a>
          </li>
          <li class="nav-item text-center mx-2 mx-lg-1">
            <a class="nav-link" href="#!">
              <div>
                <i class="fa-regular fa-address-card fa-lg mb-1"></i>
              </div>
              Perfil
            </a>
          </li>
        </ul>
        <!-- Right links -->
  
        <!-- Search form -->
        <form class="d-flex input-group w-auto ms-lg-3 my-3 my-lg-0">
          <input
            type="search"
            class="form-control"
            placeholder="Search"
            aria-label="Search"
          />
          <button
            class="btn btn-primary"
            type="button"
            data-mdb-ripple-init
            data-mdb-ripple-color="dark"
          >
            Search
          </button>
        </form>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>

  <main>
      <div class="container-fluid">
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <div class="card w-75" style="width: 18rem;">
                    <img src="/images/cuesta_frente.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cuesta</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <h5>Rumores</h5>
                      <p>-Vota al psoe</p>
                      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        
                        <div class="progress-bar text-bg-success" style="width: 85%">Bufón</div>
                      </div>
                      <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar text-bg-info" style="width: 20%">Veracidad</div>
                      </div>
                      <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar text-bg-warning" style="width: 75%"></div>
                      </div>
                      <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar text-bg-danger" style="width: 100%">Rojo</div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="card w-75" style="width: 18rem;">
                    <img src="/images/cuesta_frente.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cuesta</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <h5>Rumores</h5>
                      <p>-Vota al psoe</p>
                      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        
                        <div class="progress-bar text-bg-success" style="width: 85%">Bufón</div>
                      </div>
                      <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar text-bg-info" style="width: 20%">Veracidad</div>
                      </div>
                      <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar text-bg-warning" style="width: 75%"></div>
                      </div>
                      <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar text-bg-danger" style="width: 100%">Rojo</div>
                      </div>
                    </div>
                  </div>

            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="card w-75" style="width: 18rem;">
                    <img src="/images/los-de-siempre_1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cuesta</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <h5>Rumores</h5>
                      <p>-Vota al psoe</p>
                      <h5>Cancón descriptiva</h5>
                      <audio controls src="/audios/Cringe.mp3"></audio>
                      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        
                        <div class="progress-bar text-bg-success" style="width: 85%">Bufón</div>
                      </div>
                      <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar text-bg-info" style="width: 20%">Veracidad</div>
                      </div>
                      <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar text-bg-warning" style="width: 75%"></div>
                      </div>
                      <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar text-bg-danger" style="width: 100%">Rojo</div>
                      </div>
                    </div>
                  </div>
            </div>
            
        </div>

      </div>
  </main>