<!--Main Navigation-->
<header>
  <!-- Navbar -->
  <nav
    class="navbar navbar-expand-lg navbar-dark d-none d-lg-block"
    style="z-index: 2000"
  >
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand nav-link" href="">
        <strong>Aniacso</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-collapse-init
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav d-flex flex-row">
          <!-- Icons -->
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" rel="nofollow" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" rel="nofollow" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" rel="nofollow" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" rel="nofollow" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Background image -->
  <div id="intro" class="bg-image shadow-2-strong">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.8)">
      <div
        class="container d-flex align-items-center justify-content-center text-center h-100"
      >
        <div class="text-white" data-mdb-theme="dark">
          <h1 class="mb-3">Aniacso Ap Sorue 5</h1>
          <h5 class="mb-4">¿Pero esto qué sentido está teniendo?</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
<main>
  <div class="overlay">
    <div class="login-box">
      <h2>Iniciar Sesión</h2>
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          placeholder="Correo Electrónico"
          formControlName="email"
        />

        <label for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          placeholder="Ingresa tu contraseña"
          formControlName="password"
        />

        <button type="submit">Iniciar Sesión</button>
      </form>
      ¿No tienes cuenta? <a href="#registro">Resgistrate matao</a>
    </div>
  </div>
</main>

<footer class="bg-light text-lg-start">
  <hr class="m-0" />

  <div class="text-center py-4 align-items-center">
    <p>Siguenos en las redes sociales (Ni te molestes, no tenemos)</p>
    <a
      href=""
      class="btn btn-primary m-1"
      role="button"
      data-mdb-ripple-init
      rel="nofollow"
      target="_blank"
    >
      <i class="fab fa-youtube"></i>
    </a>
    <a
      href=""
      class="btn btn-primary m-1"
      role="button"
      rel="nofollow"
      data-mdb-ripple-init
      target="_blank"
    >
      <i class="fab fa-facebook-f"></i>
    </a>
    <a
      href=""
      class="btn btn-primary m-1"
      role="button"
      rel="nofollow"
      data-mdb-ripple-init
      target="_blank"
    >
      <i class="fab fa-twitter"></i>
    </a>
    <a
      href=""
      class="btn btn-primary m-1"
      role="button"
      rel="nofollow"
      data-mdb-ripple-init
      target="_blank"
    >
      <i class="fab fa-github"></i>
    </a>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2025 Copyright:
    <a class="text-dark" href="">Ningún Derecho Reservado</a>
  </div>
  <!-- Copyright -->
</footer>
<!--Footer-->
