#intro {
    background-image: url("/images/losPalacios.webp");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    
    
  }
  
/* Fondo oscuro semitransparente */
.overlay {
  position: fixed; /* Fijo en toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Encima de todo */
}

/* Caja del formulario */
.login-box {
  background:   #212121;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
  color: white;

}

/* Estilos básicos del formulario */
input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background:  #FC814A;
  color:black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #f78d5c;
}

  
 

  /* Height for devices larger than 576px */
  @media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
    }
  }

  .navbar .nav-link {
    color: #fff !important;
  }

  .img-fluid{
    height: 600px;
    width: auto;
    border-radius: 10px;
  }

  @media screen and (max-width: 768px) {
      html, body {
      overflow-x: none;
      }
      #intro {
      background-image: url("/images/losPalacios.webp");
      height: 50vh;
      background-repeat: no-repeat;
      
      
      }
      #carouselExampleCaptions{
        display: none;
      }
      .img-fluid{
        height: 400px;
        width: auto;
        border-radius: 10px;
        margin: 0 auto;
      }
  }