:root {
    --bs-body-bg: #E8E8E8; /* Fondo de la página */
    --bs-body-color: #564256; /* Color principal del texto */
    --bs-primary: #FC814A; /* Color de botones y enlaces */
    --bs-secondary: #96939B; /* Color para elementos secundarios */
    --bs-dark: #564256; /* Color oscuro para headers o footers */
    --bs-light: #BFBFBF; /* Color gris claro */
}

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$primary: #FC814A;
$secondary :   #564256;
$terciary: #BFBFBF;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "terciary": $terciary,
);

@import "bootstrap/scss/bootstrap";