<form>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="firstName" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="firstName" required />
    </div>
    <div class="col-md-6 mb-3">
      <label for="lastName" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="lastName" required />
    </div>
    <div class="col-md-6 mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" required />
    </div>
    <div class="col-md-6 mb-3">
      <label for="password" class="form-label">Repetir Contraseña</label>
      <input type="password" class="form-control" id="password" required />
    </div>
    <div class="col-md-6 mb-3">
      <label for="password" class="form-label">Apodo</label>
      <input type="password" class="form-control" id="password" required />
    </div>
    <div class="col-md-6 mb-3">
      <label for="telefono" class="form-label">Teléfono</label>
      <input
        type="tel"
        class="form-control"
        id="telefono"
        maxlength="9"
        required
      />
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"
      >Correo Electrónico</label
    >
    <input type="email" class="form-control" id="exampleInputEmail1" required />
  </div>
  <div class="mb-3">
    <label for="exampleInputtext" class="form-label"
      >Frase que debes acertar. Te voy a quemar como.....
    </label>
    <input type="text" class="form-control" id="exampleInputtext" required />
  </div>
  <div class="botones">
    <div>
      <p>¿Ya tienes cuenta?</p>
      <a href="/iniciosesion">Inicia sesión</a>
    </div>

    <button type="reset" class="btn btn-primary">Borrar</button>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>
